<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            
            <form>
                <legend style="font-size: 30px;">Add New Company</legend>
            
                <div class="form-group FormField">
                    <label for="">Company Name:</label>
                    <input type="text" class="form-control" style="font-size: medium;" id="" placeholder="Enter company name">                
                </div>
                <div class="form-group FormField">
                    <label for="">Turnover:</label>
                    <input type="text" class="form-control" style="font-size: medium;" id="" placeholder="Enter annual turnover">                
                </div>
                <div class="form-group FormField">
                    <label for="">CEO:</label>
                    <input type="text" class="form-control" style="font-size: medium;" id="" placeholder="Enter company CEO name">                
                </div>                
                <div class="form-group FormField">
                    <label for="">About:</label>
                    <input type="text" class="form-control" style="font-size: medium;" id="" placeholder="Enter company brieffing">                
                </div>          

                <button type="submit" class="btn btn-primary" style="font-size: medium; float: right;">Submit</button>
            </form>
            
        </div>
    </div>

    <br>

    <br>

    <div>
        <table class="table table-bordered table-hover">
            <thead style="font-size: 20px;">
              <tr>
                <th>Company ID</th><th>Company Name</th><th>Turnover</th><th>CEO</th><th>About</th>
                <th>Listed in SEs</th><th>Sector</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of comp_list">
              <tr style="font-size: 15px;">
                <td>{{item["id"]}}</td>
                <td>{{item["companyName"]}}</td>
                <td>{{item["turnover"]}}</td>
                <td>{{item["ceo"]}}</td>
                <td>{{item["about"]}}</td>
                <td>{{item["stockExchangeNames"]}}</td>
                <td>{{item["sector"]}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>