<div class="container">
    <div style="font-size: 100px;">Welcome to Stock Charting App</div>
    <div style="font-size: 50px; font-style: inherit;">Choose your Role below</div>
    <table class="table table-hover">
        <tr>
            <td>
                
                <button type="button" class="btn btn-primary" style="font-size: 50px;" (click)="AdminSelected()">Admin</button>
                
            </td>
            <td>
                
                <button type="button" class="btn btn-primary" style="font-size: 50px;" (click)="UserSelected()">User</button>
                
            </td>
        </tr>
    </table>
    
</div>