<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <legend style="font-size: 30px;">Compare Stock Prices of Companies</legend>
            <form [formGroup]="myForm" class="FormField" (ngSubmit)="onSubmit()" novalidate>
                <div class="FormField">
                    <label>From Date: &nbsp;</label>
                    <input type="date" placeholder="From Date" 
                    formControlName="From_Date">
                </div>
                <div class="FormField">
                    <label>From Time: &nbsp;</label>
                    <input type="time" placeholder="From Time" 
                    formControlName="From_Time">
                </div>
                <div class="FormField">
                    <label>To Date: &nbsp;</label>
                    <input type="date" placeholder="To Date" 
                    formControlName="To_Date">
                </div>
                <div class="FormField">
                    <label>To Time: &nbsp;</label>
                    <input type="time" placeholder="To Time" 
                    formControlName="To_Time">
                </div>
                <div class="FormField">
                    <label>Periodicity: &nbsp;</label>
                    <input type="number" placeholder="Period gap" 
                    formControlName="Period">
                </div>
                        
                <div formArrayName="formArray">
                    <div *ngFor="let control of formData.controls; let i = index">
                        <br>
                        <button type="button" class="btn btn-primary" style="background-color: red; font-size: 15px;" (click)="delInput(i)">Delete</button>
                        <div [formGroupName]="i">
                            <div>
                               <label>Stock Exchange Name: &nbsp;</label>
                                <select style="color: black;" 
                                name="registeredStockExchangeId field" formControlName="StockExchange">
                                    <option selected>None</option>
                                    <option *ngFor="let item of existing_ses">{{item.id}}</option>
                                </select> 
                            </div>
                            <div>
                               <label>Company Name: &nbsp;</label>
                               <input type="text" placeholder="Search Company" list="comps" (change)="onChangeEvent($event)"
                               formControlName="CompanyName">
                                <datalist id="comps">
                                <option *ngFor="let c of comp_list" [value]="c.companyName" >{{c.companyName}}</option>
                                </datalist>
                            </div>                            
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" style="font-size: 15px; float: left;" (click)="addInput()">Add another Company</button>
                <button type="submit" class="btn btn-primary" style="font-size: 15px; float: right;" [disabled]="!myForm.valid">Get Comparison Plot</button>
            </form>         

        </div>
    </div>
</div>