<p>signup works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            
            <form>
                <legend style="font-size: 30px;">Signup</legend>
            
                <div class="form-group FormField">
                    <label for="">Username:</label>
                    <input type="text" [(ngModel)]="item.roleName" class="form-control" style="font-size: medium;" id="" placeholder="Enter User name" name="username">                
                </div>
                <div class="form-group FormField">
                    <label for="">Password:</label>
                    <input type="text" [(ngModel)]="item.password" class="form-control" style="font-size: medium;" id="" placeholder="Enter password" name="password">                
                </div>
                <div class="form-group FormField">
                    <label for="">RoleType:</label>
                    <select class="form-control" style="font-size: medium;" id=""  name="roleType" [(ngModel)]="item.roleType">   
                        <option value=1>Admin</option>    
                        <option value=2>User</option>
                    </select>             
                </div>
                <div class="form-group FormField">
                    <label for="">Email:</label>
                    <input type="text" [(ngModel)]="item.email" class="form-control" style="font-size: medium;" id="" placeholder="Enter Email" name="email">                
                </div>
                <div class="form-group FormField">
                    <label for="">Mobile</label>
                    <input type="number" [(ngModel)]="item.mobile" class="form-control" style="font-size: medium;" id="" placeholder="Enter Mobile No." name="mobileNo">                
                </div>
                <div class="form-group FormField">
                    <label for="">Confirmed:</label>
                    <input type="checkbox" [(ngModel)]="item.confirmed" [ngModelOptions]="{standalone: true}" class="form-control" style="font-size: medium;" id=""  name="confirmed">                
                </div>
                       
                        <button (click)="Signup()" class="btn btn-primary" style="font-size: 15px;">Signup </button>
                        
                </form>
                
                <p style="color: red">{{errMssg}}</p>
        </div>
    </div>
</div>

{{item.roleName}}
{{item.password}}
{{item.roleType}}
{{item.email}}
{{item.mobile}}
{{item.confirmed}}